/*Import font*/
@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
/* Include the padding and border in an element's total width and height */
html {
  background-image: url(https://img.freepik.com/free-vector/cute-kitchen-utensils-doodle-sticker-set_53876-99857.jpg?w=2000);
  margin: 0;
  padding: 0;
}

* {
  font-family: "Short Stack", cursive;
  box-sizing: border-box;
}


.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.wrap h3 {
  /* position: relative;
  top: 10px; */
  font-weight: bold;
  font-size: 3.5rem;
  background: linear-gradient(270deg, #4266a9, #37ffffc0, #52f6d8, #c4f5ff, #6ae1b9, #e1fff5, #195ccf, #2f7083);
  background-size: 1600% 1600%;
  -webkit-animation: GradientAnim 50s ease infinite;
  animation: GradientAnim 50s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes GradientAnim {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

@keyframes GradientAnim {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}




div.box-wrap {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.list-box {
  display: flex;
  margin: 0 4rem;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

/* Style the header */
.header {
  width: 70vw;
  height: 25vh;
  background-color: #d3ebeff2;
  padding: 30px 40px;
  color: #5f5f5f;
  text-align: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}
h1 {
  margin: 0;
  color: #7a93af;
  font-size: 2.3rem;
}
h2 {
  color: #6e98ab;
}

/* Style the input */
.input-btn {
  display: flex;
  position: relative;
}

input {
  margin: 0;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.list {
  width: 70vw;
}
/* Style Add button */
.addBtn {
  padding: 10px;
  width: 150px;
  background: #a5c6e0;
  color: #6b6b6b;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.addBtn:hover {
  background-color: #98abc2;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
}
/* Style the list items */
ul li {
  width: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #f0ffff;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #cef5ff;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #9ab7c2;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #4f89a3;
  color: white;
}

/* Style the task-box */
.task-box {
  background-color: #53a2c2;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the task-box */
.task-box:after {
  content: "";
  display: table;
  clear: both;
}

/*style footer*/
#footer {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  /* margin-top: 2rem; */
}


/* RESPONSIVE */
@media (max-width: 768px) {
  h1 {
  font-size: 4vw;
  }

  h2#display-present-date {
  font-size: 4vw;
  }

  ul li {
    font-size: 2.3vw;
  }

  input {
    font-size: 15px;
  }

  .addBtn {
    font-size: 15px;
  }

}

@media (max-width: 500px) {
  h1 {
    font-size: 5vw;
  }

  ul li {
    font-size: 2.5vw;
  }

  #footer {
    text-align: center;
  }

  input {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 5vh;
  }

  .input-btn {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .addBtn {
    padding: 10px;
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    height: 5vh;
  }

  .wrap h3 {
    font-size: 3rem;
  }

}

@media (max-width: 380px) {
  ul li {
    font-size: 2.5vw;
  }


  input {
    height: 4vh;
    font-size: 8px;
  }

  .addBtn {
    height: 4vh;
    padding: 6px;
    font-size: 11px;
  }

  #footer {
    font-size: 1rem;
  }

  .wrap h3 {
    text-align: center;
    font-size: 10vw;
  }
}
